
@{
    ViewData["Title"] = "Erkek berber salonu";
    Layout = "HomeLayout";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        addEventListener("load",
            function() {
                setTimeout(hideURLbar, 0);
            },
            false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
</head>

<body>
<section class="banner_w3lspvt" id="home">
		<div class="csslider infinity" id="slider1">
			<ul>
				<li>
					<div class="banner-top">
						<div class="overlay">
							<div class="container">
								<div class="w3layouts-banner-info">
									<h3 class="text-wh">Saçınızı <span class="clr">mükemmel</span> hale getiriyoruz
									</h3>
                                    <h4 class="text-wh">Saçınızın Harika ve mükemmel Görünmesini Sağlıyoruz!
                                    </h4>
                                    <a class="button-style mt-4 mr-2" asp-controller="Reservation"
                                       asp-action="SearchReservation">Randevu Al</a>
                                </div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>

<section class="about py-5" id="about">
		<div class="container py-lg-5">
			<div class="row about-grids">
				<div class="col-lg-8">
					<h2 class="mt-lg-3">Erkekler İçin Saç Bakımı Püf Noktaları</h2>
					<p class="">Erkekler için saç bakımı tüyoları ile siz de daha sağlıklı ve güzel görünen saçlara
						sahip
						olabilirsiniz. Erkek saç bakımını kontrol altına aldığınızda saçınızı her zaman istediğiniz gibi
						şekillendirebilir ve her ortamda saçlarınızla karizmatik bir görünüm elde edebilirsiniz.
						Sağlıklı ve
						güçlü görünen saçlara sahip olmak için duş alırken ve duş aldıktan sonra dikkat edilmesi gereken
						bazı noktalar vardır. Örneğin çok yüksek sıcaklıklarda saçı yıkamak hem saç derisi hem de saç
						tellerinin sağlığı açısından sıkıntılı bir durumdur. Bu yüzden saçların ideal sıcaklıktaki su
						ile
						yıkanmasına özen gösterilmelidir.</p>
					<p class="mt-3">Saçları sık sık yıkamak da zaman zaman saçın kendi dengesini bozan ve saç derisi
						problemlerinin
						ortaya çıkmasına neden olan bir durumdur. Saçın aşırı yağlanması problemine karşı saçı sık sık
						yıkamak yerine saç bakım ürünlerinin kullanılması tavsiye edilmektedir. Ayrıca duş alırken sıcak
						su
						kullanmak saç derisini kurutacağı için gün içinde saçın daha hızlı bir şekilde yağlanmasına
						neden
						olabilmektedir. Duştan sonra tarak kullanmak da saçların kabarıp elektriklenmesine sebep
						olabileceği
						için saçların ıslakken tarak kullanılması daha önemlidir.</p>
				</div>
			</div>
		</div>
	</section>
</body>